.bodyContainer{
    display: flex;
    padding: 10px;
}

.sideBarContainer{
    
    width: 20%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.dashboardContainer{
    /* border: 2px solid black; */
    width: 80%;
    padding: 5px;
}

.paginationContainer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationBtns{
    background-color: grey;
    margin: 5px;
    color: white;
    
}

.paginationBtns:hover{
    background-color: rgb(216, 214, 214);
    color: rgb(18, 18, 18);
}