
.sideBarComponentContainer{
    border: 2px solid rgb(191, 197, 191);
    width: 80%;
    margin: auto;
    padding: 10px;
    
}

h1{
    text-align: center;
}

.submitBtn{
    background-color: rgb(45, 45, 194);
    margin-top: 10px;
}